[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
twine = "*"
autopep8 = "*"
pylint = "*"
git-release-tag = "*"

[packages]
aws-ssm-copy = {editable = true, path = "."}

[requires]
python_version = "3.9"
